version: '3.9'

services:
  backend:
    build: ./backend
    container_name: askly-backend
    restart: always
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
      - DATABASE_URL=postgresql://user:password@postgres:5432/askly
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: askly-frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=askly
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  prometheus:
    container_name: askly-prometheus
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  grafana:
    container_name: askly-grafana
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  postgres_data:
    driver: local
